extends ../base/layout

block variables
  - var title = "Об ивенте"
  - var hasHeader = true
  - var hasFooter = true

block main
  style.
    .container {
      display: flex;
      flex-wrap: nowrap;
    }

    @media (max-width: 1023px) {
      .container {
        flex-wrap: wrap;
      }
    }

  main.container
    div.about
      include ../data/about
      h2.title--h2=aboutEvent.title
      ul
        each text in aboutEvent.textList
          li
            p=text
      button.about__more-btn(type="button", aria-label="Показать больше", aria-pressed="false")="Read More"

      h2.title--h2=eventBlock.title
        ul
          each event in eventBlock.eventList
            li
              h3.title--h3=event.subtitle
              ul
                each text in event.textList
                  li
                    p=text

    aside.about-aside
      include ../data/benefits
      h2.title--h2 Overview
      ol
        each benefit in benefits
          li
            img(src=benefit.src)
            span=benefit.text
