extends ../base/layout

block variables
  - var title = "Deadline Info"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Deadline"
  - var hasUpButton = true

block main
  include ../data/pages/admin-deadlines
  include ../data/modal-colleague-admin

  main
    .admin
      .container
        +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)

        +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText)

        .admin__control-wrapper.admin__control-wrapper--full-width
          +renderAdminTabs(adminTabs, modal=false, menu=true)

        .admin__text-wrapper
          .admin__section.admin__section--info
            .text-content
              h2.title.title--h2=deadlinesInfoContent[0].title
              +renderTextContentBlock(deadlinesInfoContent[0].textList)

          .admin__section.admin__section--details
            .text-content
              h2.title.title--h2=deadlinesInfoContent[1].title
              +renderTextContentBlock(deadlinesInfoContent[1].textList)

          .admin__section.admin__section--links
            +renderDownloadFiles(downloadHeadline, downloadList, hasLeftPadding=true)

        +renderSupportContacts(contactsList)

block append modals
  include ../data/mobile-admin-tabs
  include ../data/modal-mobile-filters-admin
  include ../data/modal-colleague-admin

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs, modal=true, menu=false)
