extends ../base/layout

block variables
  - var title = "Buyers Guest List"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Buyers Guest List"
  - var hasUpButton = true


block main
  include ../data/pages/admin-guests-d1
  include ../data/modal-colleague-admin

  main
    .admin
      .container.container--admin
        +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)
        +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText)

        .admin__control-wrapper.admin__control-wrapper--full-width
          +renderAdminTabs(adminTabs, modal=false, menu=true)

        .admin__content-wrapper
          h2.admin__section-title="Buyers Guest List"
          +renderAdminTabs(scheduleTabs)

          .hidden-sm
            form.filters
              +renderAlphabetFilter(alphabetFilter)
              +renderDropdownFilter(dropdownFilters)

          .visible-sm
            +renderMobileFilterButtons("Filters", "Clear all filters")

          +renderFilterTabs(filterTabs)

          +renderGuestsList(adminGuestsListTitles, adminGuestsList)

        .admin__button-wrapper
          button.button.button--transparent(type="button")="More"
          .visible-sm
            +renderUpButton('up-button--mobile')

        +renderSupportContacts(contactsList)

block append modals
  include ../data/mobile-admin-tabs
  include ../data/modal-mobile-filters-admin
  include ../data/modal-colleague-admin

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs, modal=true, menu=false)
  +mobileModal("modal--mobile-filters")
    +renderMobileFilters(mobileFilters, mobileFiltersButtons)
