extends ../base/layout

block data
  include ../data/photos
  include ../data/video

block variables
  - var title = "Галерея"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "Gallery"
  -
    var promoBg = {
      titleItem: "THE LEADING LUXURY TRAVEL EXHIBITION IN EASTERN EUROPE, RUSSIA & CIS",
      imgItem: "img/bg/bg-gallery-desktop.jpg",
      img2xItem: "img/bg/bg-gallery-desktop@2x.jpg",
      widthItem: "1920",
      heightItem: "534",
      imgSource: "img/bg/bg-gallery-mobile.png 1x, img/bg/bg-gallery-mobile@2x.png 2x",
      classItem: "promo__none",
      promoItem: "promo__info promo__text-wrapper",
    }

block main

  main
    +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
    section.gallery.container.container--no-padding
      h1.visually-hidden Фото и видео
      .toggle
        span.toggle__section.toggle__section--photo Photo
        input(type="checkbox" id="toggle-button" class="toggle__button")
        label(for="toggle-button" class="visually-hidden") Toggle Button
        span.toggle__section.toggle__section--video Video
      .gallery__section.gallery__section--photo.photo
        h2.title.title--h2.title--sm-pd  Photo
        +photo-block
      .gallery__section.gallery__section--video.video
        h2.title.title--h2.title--sm-pd Video
        ul.video__block-list
          each videoItem in videoList
            li.video__block-item
              .video__title-wrap
                h3.title.title--h3 #{videoItem.title} #[span #{videoItem.titleOnlyDesktop}]
              .video__container
                video.video__player(controls preload="metadata" poster= `${videoItem.img}` src= `${videoItem.src}`)
      button.button.button--transparent(type="button")="More"
    .container
      a.up-button.up-button--right.up-button--xl(href="#top", aria-label="Вернуться в начало")
        +icon("icon-arrow-up", 54, 54)
