extends ../base/layout

block data
  include ../data/photo
  include ../data/video

block variables
  - var title = "Галерея"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "Gallery"
  - var hasUpButton = true

  -
    var promoBg = {
      titleItem: "THE LEADING LUXURY TRAVEL EXHIBITION IN EASTERN EUROPE, RUSSIA & CIS",
      imgItem: "img/bg/bg-gallery-desktop.jpg",
      img2xItem: "img/bg/bg-gallery-desktop@2x.jpg",
      widthItem: "1920",
      heightItem: "534",
      imgSource: "img/bg/bg-gallery-mobile.png 1x, img/bg/bg-gallery-mobile@2x.png 2x",
      classItem: "promo__none",
      promoItem: "promo__info promo__text-wrapper",
    }

block main

  main
    +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem)
    section.gallery.container
      h1.visually-hidden Фото и видео
      .toggle
        span.toggle__section.toggle__section--photo Photo
        input(type="checkbox" id="toggle-button" class="toggle__button")
        label(for="toggle-button" class="visually-hidden") Toggle Button
        span.toggle__section.toggle__section--video Video
      .gallery__section.js-photo
        h2.title.title--h2 Photo
        +photo-block(photoList)
      .gallery__section.js-video
        h2.title.title--h2 Video
        ul.gallery__block-list
          each item in videoList
            li.gallery__block-item
              h3.title.title--h3 #{item.title} #[span #{item.titleOnlyDesktop}]
              .video__container
                video.video__player(controls muted playsinline preload="metadata" poster= `${item.img}`)
                  source(type="video/mp4" src= `${item.src}`)
        button.button.button--transparent(type="button")="More"
    .container
      .visible-sm
        +renderUpButton('up-button--mobile')
