extends ../base/layout

block variables
  - var title = "Отель"
  - var hasHeader = true
  - var hasFooter = true
  - var text = "THE LEADING LUXURY TRAVEL EXHIBITION IN EASTERN EUROPE, RUSSIA & CIS"
  - var desktopImage = "img/bg/about-page-desktop.png"
  - var tabletImage = "img/bg/about-page-tablet.png"
  - var mobileImage = "img/bg/about-page-mobile.png"

block main
  include ../data/hotel-page

  +renderTopBlock(text, desktopImage, tabletImage, mobileImage)
  main.container
      .hotel-page
        .hotel-page__photo-list
          each photo in hotel.photoList
            img(src=photo)
        a.news__nav-button(href="#")
          img(src="img/svg/icon-back.svg", width="12", height="20")
          span Back
        .hotel-page__info-block
          img(src=hotel.logo)
          .hotel-page__description
            .hotel-page__title
              h2.title--h2=hotel.title
              a.hotel-page__link(href=hotel.link)=hotel.link
            ul.hotel-page__text-list
              li
                each text in hotel.textList
                  p=text

