extends ../base/layout

block variables
  - var title = "Hosted Buyers Guest List"
  - var hasHeader = true
  - var hasFooter = true
  - var hasUpButton = true
  - var currentPage = "Hosted Buyers Guest List2"

block main
  include ../data/pages/lk-guest-exhibitors-d2
  include ../data/modal-colleague-lk

  main
    .admin
      .container
        +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)

        .admin__block-wrapper
          +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, true)
          +renderInfoBlock(infoBlock)

        .admin__control-wrapper.admin__control-wrapper--full-width
          +renderAdminTabs(adminTabs, modal=false, menu=true)

        .admin__content-wrapper
          h2.admin__section-title="Список участников"
          +renderAdminTabs(scheduleTabs)

          .hidden-sm
            .filters.filters--exhibitions
              +renderAlphabetFilter(alphabetFilter)
              +renderDropdownFilter(dropdownFilters)
              +renderFilterButton(buttonFilter)

          .visible-sm
            +renderMobileFilterButtons("Filters", "Clear all filters")

          +renderFilterTabs(filterTabs)
          +renderHostedGuestsList(adminHostedGuestsListTitles, adminHostedGuestsList)

          .admin__button-wrapper
            button.btn.btn--white.btn--more(type="button")="Показать больше"
            .visible-sm
              +renderUpButton('up-button--mobile')

        +renderSupportContacts(contactsList)

block append modals
  include ../data/mobile-admin-tabs
  include ../data/modal-mobile-filters-lk
  include ../data/modal-colleague-lk
  include ../data/modal-profile

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs, modal=true, menu=false)
  +mobileModal("modal--mobile-filters")
    +renderMobileFilters(mobileFilters, mobileFiltersButtons)
  +mobileModal("modal--edit-profile")
    +modalEditProfile(editProfile)
