extends ../base/layout

block variables
  - var title = "LK-Guest"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Deadline"

block main
  include ../data/pages/lk-guest
  include ../data/modal-colleague-lk

  main
    .container
      +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)

      .admin__block-wrapper
        +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, true)
        +renderInfoBlock(infoBlock)

      .admin__control-wrapper.admin__control-wrapper--full-width
        +renderAdminTabs(adminTabs, modal=false, menu=true)

      .admin__text-wrapper
        .admin__section.admin__section--info
          h2.title.title--h2=deadlinesInfoContent[0].title
          +renderTextContentBlock(deadlinesInfoContent[0].textList)

        .admin__section.admin__section--details
          h2.title.title--h2=deadlinesInfoContent[1].title
          +renderTextContentBlock(deadlinesInfoContent[1].textList)

        .admin__section.admin__section--links
          +renderDownloadFiles(downloadHeadline, downloadList, hasLeftPadding=true)

      +renderSupportContacts(contactsList)

block modals
  include ../data/modal-colleague-lk
  include ../data/modal-profile
  include ../data/mobile-admin-tabs

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs, modal=true, menu=false)
  +mobileModal("modal--edit-profile")
    +modalEditProfile(editProfile)
