extends ../base/layout

block variables
  - var title = "Schedule"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Schedule2"
  - var hasUpButton = true

block main
  include ../data/pages/lk-guest-schedule-d2
  include ../data/modal-colleague-lk

  main
    .admin.admin--schedule
      .container
        +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)

        .admin__block-wrapper
          +renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, true)
          +renderInfoBlock(infoBlock)

        .admin__control-wrapper.admin__control-wrapper--full-width
          +renderAdminTabs(adminTabs, modal=false, menu=true)

        .admin__content-wrapper
          h2.admin__section-title="Список участников"
          +renderAdminTabs(scheduleTabs)
          .admin__additional-buttons
            button.button.button--transparent.hidden-sm(type="button") Скачать расписание PDF

          +renderSchedule(adminScheduleTitles, adminSchedule)

          .admin__mobile-block-wrapper.visible-sm
            button.button.button--transparent(type="button")="Скачать расписание PDF"

          +renderWishList(wishList)
          .admin__button-wrapper.visible-sm
            +renderUpButton('up-button--mobile')
        +renderSupportContacts(contactsList)

block modals
  include ../data/modal-colleague-lk
  include ../data/modal-profile
  include ../data/mobile-admin-tabs

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs, modal=true, menu=false)
  +mobileModal("modal--edit-profile")
    +modalEditProfile(editProfile)
