extends ../base/layout

block variables
  - var title = "Phone LK Guest Participants"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Phone LK Guest Participants"

block main
  include ../data/pages/lk-participants-mobile

  main.container.admin.admin--mobile
    +renderLKAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates, adminHeadline.backLink)
    .admin__control-wrapper
      +renderAdminTabs(adminTabs)
    .visible-sm
      +renderHeadlineBig("Сотрудники на выставку")
    .participants
      +renderHeadline2(participantsHeadline)
      p.participants__info=participantsInfo
      ul.participants__list
        each participant in participantsList
          li.participants__item
            .participants__note-wrapper
              img(src=participant.photo alt="Фото админа")
              span.participants__note=participant.note
            .participants__info-wrapper
              span.participants__name=participant.name
              span.participants__name=participant.lastName
              span.participants__position=participant.position
            a.participants__contact-link(href='mailto:' + participant.mail aria-label="Написать по электронной почте")
              +icon("icon-write", 18, 24)
      p.participants__text=participantsText
    +renderSupportContacts(contactsList)
