extends ../base/layout

block variables
  - var title = "Phone LK Guest Participants"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = "Phone LK Guest Participants"
  - var hasUpButton = true

block main
  include ../data/pages/lk-participants-mobile
  include ../data/modal-colleague-lk

  main
    .admin.admin--mobile
      .container
        +renderAdminHeadline(adminHeadline.eventName, adminHeadline.eventPlace, adminHeadline.dates)

        .admin__control-wrapper.admin__control-wrapper--full-width
          +renderAdminTabs(adminTabs, modal=false, menu=true)

        .admin__content-wrapper
          .participants.participants--half-width
            h2.title.title--h2="Сотрудники на выставку"
            p.participants__info !{participantsInfo}
            ul.participants__list
              each participant in participantsList
                li.participants__item

                  if participant.note
                    .participants__note-wrapper
                      img(src=participant.photo alt="Фото админа")
                      span.participants__note !{participant.note}
                  else
                    img(src=participant.photo alt="Фото админа")

                  .participants__info-wrapper
                    .participants__name
                      h4 !{participant.name}
                    .participants__position
                      p !{participant.position}
                  button.participants__edit-button(data-modal="edit-colleague")
                    +icon("icon-write", 18, 24)

            p.participants__text !{participantsText}

        +renderSupportContacts(contactsList)

block modals
  include ../data/modal-colleague-lk
  include ../data/mobile-admin-tabs

  +mobileModal("modal--edit-colleague")
    +modalEditColleague(editCollegue)
  +mobileModal("modal--admin-menu")
    +renderModalAdminTabs(adminTabs, modal=true, menu=false)
