extends ../base/layout

block data
  include ../data/privacy-policy

block variables
  - var title = "Политика конфиденциальности"
  - var hasHeader = true
  - var hasFooter = true
  - var currentPage = ""
  - var hasUpButton = true

block main

  +promo(promoBg.titleItem, promoBg.btnItem, promoBg.imgItem, promoBg.img2xItem, promoBg.widthItem, promoBg.heightItem, promoBg.imgSource, promoBg.classItem, promoBg.promoItem, true)
  main#top
    .container
      .privacy-policy
        .top-wrapper.top-wrapper--mobile
          h2.title.title--h2=privacyPolicy.title
          .hidden-sm
            +renderBackButton("main.html")
        time.privacy-policy__date(datetime=privacyPolicy.datetime)= privacyPolicy.date
        .privacy-policy__wrapper
          p= privacyPolicy.text
          ul.privacy-policy__list
            each item in privacyPolicy.content
              li
                h3= item.question
                each paragraph in item.answer
                  p= paragraph
        .visible-sm
          .privacy-policy__button-wrapper
            +renderUpButton('up-button--mobile')
