mixin renderSchedule(titleList, rowList)
  table.admin-table
    tr.admin-table__row.admin-table__row--headline
      th
      each title in titleList
        th=title
      th
    each row in rowList
      tr.admin-table__row
        th
        th=row.time
        th
          select(id="company-select", class="input-dropdown")
            each option in row.company
              option(value="Choose a company", class="input-dropdown__option")=option
        th
          button.btn.btn--white.btn--request(type="submit")=row.request
        th
          span=row.status
        th

mixin renderSentMessages(titleList, rowList)
  table.admin-table
    tr.admin-table__row.admin-table__row--headline
      each title in titleList
        th=title
    each row in rowList
      tr.admin-table__row
        th
          if row.status === "sent"
            +icon("icon-mail-sent", 34, 15)
        th=row.to
        th=row.subject
        th=row.date
        th=row.time
        th=row.event
        th=row.message

mixin renderInboxMessages(titleList, rowList)
  table.admin-table
    tr.admin-table__row.admin-table__row--headline
      each title in titleList
        th=title
    each row in rowList
      tr.admin-table__row
        th
          if row.status === "new"
            +icon("icon-mail-new", 22, 14)
          if row.status === "opened"
            +icon("icon-mail-opened", 22, 21)
        th=row.from
        th=row.subject
        th=row.date
        th=row.time
        th=row.event
        th=row.message

mixin renderGuestsList(titleList, rowList)
  table.admin-table
    tr.admin-table__row.admin-table__row--headline
      each title in titleList
        th=title
    each row in rowList
      tr.admin-table__row
        th=row.company
          span=row.place
        th=row.name
          span=row.position
        th=row.colleagueName
          span=row.colleaguePosition
        th
          select(id="free-slot-select", class="input-dropdown")
            each option in row.freeSlots
              option(value=option, class="input-dropdown__option")=option
        th
          button.btn.btn--white.btn--request(type="submit")=row.request
        th
          a.admin-table__link(href=row.contactLink, aria-label="Отправить письмо")=row.contact

mixin renderHostedGuestsList(titleList, rowList)
  table.admin-table
    tr.admin-table__row.admin-table__row--headline
      each title in titleList
        th=title
    each row in rowList
      tr.admin-table__row
        th=row.company
          span=row.place
        th=row.name
          if row.position
            span=row.position
        th
          select(id="free-slot-select-2", class="input-dropdown")
            each option in row.freeSlots
              option(value=option, class="input-dropdown__option")=option
        th
          button.btn.btn--white.btn--request(type="submit")=row.request
        th
          a.admin-table__link(href=row.contactLink, aria-label="Отправить письмо")=row.contact
