mixin renderSchedule(titleList, rowList)
  table.admin-table
    tr.admin-table__row.admin-table__row--headline
      th
      each title in titleList
        th=title
      th
    each row in rowList
      tr.admin-table__row
        th.admin-table__cell.admin-table__cell--empty
        th=row.time
        th.admin-table__cell.admin-table__cell--select-company
          select(id="company-select", class="input-dropdown")
            each option in row.company
              option(value="Choose a company", class="input-dropdown__option")=option
        th.admin-table__cell.admin-table__cell--button
          button.btn.btn--white.btn--request(type="submit")=row.request
        th.admin-table__cell(class='admin-table__cell--' + row.status.toLowerCase())
          span=row.status
        if row.timeLimit
          th=row.timeLimit
        else
          th.admin-table__cell.admin-table__cell--empty

mixin renderSentMessages(titleList, rowList)
  table.admin-table
    tr.admin-table__row.admin-table__row--headline
      each title in titleList
        th=title
    each row in rowList
      tr.admin-table__row
        th
          if row.status === "sent"
            +icon("icon-mail-sent", 34, 15)
        th=row.to
        th.admin-table__cell.admin-table__cell--theme=row.subject
        th.admin-table__cell.admin-table__cell--date=row.date
        th.admin-table__cell.admin-table__cell--time=row.time
        th=row.event
        th.admin-table__cell.admin-table__cell--message=row.message

mixin renderInboxMessages(titleList, rowList)
  table.admin-table
    tr.admin-table__row.admin-table__row--headline
      each title in titleList
        th=title
    each row in rowList
      tr.admin-table__row
        th
          if row.status === "new"
            +icon("icon-mail-new", 22, 14)
          if row.status === "opened"
            +icon("icon-mail-opened", 22, 21)
        th=row.from
        th.admin-table__cell.admin-table__cell--theme=row.subject
        th.admin-table__cell.admin-table__cell--date=row.date
        th.admin-table__cell.admin-table__cell--time=row.time
        if row.event
          th=row.event
        th.admin-table__cell.admin-table__cell--message=row.message

mixin renderGuestsList(titleList, rowList)
  table.admin-table
    tr.admin-table__row.admin-table__row--headline
      each title in titleList
        th=title
    each row in rowList
      tr.admin-table__row
        th=row.company
          span=row.place
        th=row.name
          span=row.position
        th=row.colleagueName
          span=row.colleaguePosition
        th.admin-table__cell.admin-table__cell--select-time
          select(id="free-slot-select", class="input-dropdown")
            each option in row.freeSlots
              option(value=option, class="input-dropdown__option")=option
        th.admin-table__cell.admin-table__cell--button
          button.btn.btn--white.btn--request(type="submit")=row.request
        th.admin-table__cell.admin-table__cell--button
          a.admin-table__link(href=row.contactLink, aria-label="Отправить письмо")=row.contact

mixin renderHostedGuestsList(titleList, rowList)
  table.admin-table
    tr.admin-table__row.admin-table__row--headline
      each title in titleList
        th=title
    each row in rowList
      tr.admin-table__row
        th=row.company
          span=row.place
        th=row.name
          if row.position
            span=row.position
        th.admin-table__cell.admin-table__cell--select-time
          select(id="free-slot-select-2", class="input-dropdown")
            each option in row.freeSlots
              option(value=option, class="input-dropdown__option")=option
        th.admin-table__cell.admin-table__cell--button
          button.btn.btn--white.btn--request(type="submit")=row.request
        th.admin-table__cell.admin-table__cell--button
          a.admin-table__link(href=row.contactLink, aria-label="Отправить письмо")=row.contact
