mixin renderLKParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, infoBlock)
  .lk__participants-wrapper
    .lk__participants.participants
      +renderHeadline2(participantsHeadline)
      p.participants__info=participantsInfo
      ul.participants__list
        each participant in participantsList
          li.participants__item
            .participants__note-wrapper
              img(src=participant.photo)
              span.participants__note=participant.note
            .participants__info-wrapper
              span.participants__name=participant.name
              span.participants__name=participant.lastName
              span.participants__position=participant.position
            a.participants__contact-link(href='mailto:' + participant.mail aria-label="Написать по электронной почте")
              +icon("icon-write", 18, 24)
      p.participants__text=participantsText
    .lk__info-block.info-block
      .info-block__top-wrapper
        .info-block__headline
          +renderHeadline2(infoBlock.title)
          a.info-block__link(href=infoBlock.link)=infoBlock.link
        button.btn.btn--blue(type=infoBlock.buttonType)=infoBlock.buttonText
      .info-block__text-wrapper
        p=infoBlock.text
      a.info-block__more-link(href=infoBlock.link, aria-label="Read More")
        +icon("icon-read-more", 103, 22)





