mixin renderParticipantList(participantsHeadline, participantsInfo, participantsList, participantsText, isSmallBlock)
  if isSmallBlock
    - var smallClass = 'participants--half-width'
  else
    - var smallClass = ''

  .participants.hidden-sm(class=smallClass)
    h2.title.title--h2 !{participantsHeadline}
    p.participants__info !{participantsInfo}
    ul.participants__list
      each participant in participantsList
        li.participants__item

          if participant.note
            .participants__note-wrapper
              img(src=participant.photo alt="Фото админа")
              span.participants__note !{participant.note}
          else
            img(src=participant.photo alt="Фото админа")

          .participants__info-wrapper
            h4.participants__name !{participant.name}
            p.participants__position !{participant.position}
          button.participants__edit-button(data-modal="edit-colleague")
            +icon("icon-write", 18, 24)

    p.participants__text !{participantsText}
