mixin renderWishList(wishList)
  .wish-list
    +renderHeadline2(wishList.title)
    .wish-list__text-wrapper
      p=wishList.description
      button.button.button--transparent.visible-sm(type="button")="Generate PDF with Wish-list"
    .wish-list__company-list-wrapper
      .wish-list__company-block
        form.wish-list__choose-company
          select(id="company-select-wish", class="input-dropdown")
            each option in wishList.selectCompany
              option(value="Choose a company", class="input-dropdown__option")=option
          button.button.button--transparent.btn--request(type="submit")=wishList.request
        .wish-list__company-wrapper
          h4.title.title--h4="Company"
          ul.wish-list__company-list
            each company in wishList.companyList.columnOne
              li.wish-list__company-item=company
        .admin__mobile-block-wrapper.visible-sm
          button.button.button--transparent(type="button")="More"
      .wish-list__company-block
        p.wish-list__company-description=wishList.text
        .wish-list__company-wrapper
          h4.title.title--h4="Company"
          ul.wish-list__company-list
            each company in wishList.companyList.columnTwo
              li.wish-list__company-item=company
        .admin__button-wrapper.visible-sm
          button.button.button--transparent(type="button")="More"
          +renderUpButton('up-button--mobile')

