mixin renderWishList(wishList)
  .wish-list
    +renderHeadline2(wishList.title)
    .wish-list__text-wrapper
      p=wishList.description
      +renderGeneratePDFButton(wishList.generatePDF.link, wishList.generatePDF.text)
    .wish-list__company-list-wrapper
      .wish-list__company-block
        .wish-list__choose-company
          select(id="company-select-3", class="input-dropdown")
            each option in wishList.selectCompany
              option(value="Choose a company", class="input-dropdown__option")=option
          button.btn.btn--white.btn--request(type="submit")=wishList.request
        span="Company"
        ul.wish-list__company-list
          each company in wishList.companyList.columnOne
            li.wish-list__company-item=company
        button.btn.btn--white.btn--more(type="button")="More"
      .wish-list__company-block
        p=wishList.text
        span="Company"
        ul.wish-list__company-list
          each company in wishList.companyList.columnTwo
            li.wish-list__company-item=company
        button.btn.btn--white.btn--more(type="button")="More"


