mixin modalEditColleague(data)
  .edit-colleague
    +renderHeadline2(data.title)
    .edit-colleague__photo-column
      img(src=data.photo, width=103, height=103, alt="Фото админа")
      label.edit-colleague__photo-upload.button.button--blue Загрузить
        input(type="file").visually-hidden
      .edit-colleague__upload-info
        p="JPG, PNG"
        p="Min. 200x200 px."
        p="Max. 3 mb."
    .edit-colleague__content-column
      .edit-colleague__form
        form(action="#" method="POST")
          each item in data.formList

            if item.type === 'text'
              +renderInputText(item.headline, item.id, item.placeholder, item.type, item.mod)

            if item.type === 'select'
              +renderSelect(item.headline, item.id, item.options, item.mod)

          .edit-colleague__buttons
            each button in data.buttonList
              button.button(class=button.mod type=button.type)=button.text


