mixin modalEditProfile(data)
  - var mod = 'edit-colleague__block--'

  .edit-colleague
    +renderHeadline2(data.title)
    form(action="#" method="POST").edit-colleague__form
      each item in data.formList
        if item.type === 'name'
          .edit-colleague__block(class=mod + item.mod)
            span=item.headline
            span.edit-colleague__name=item.text

        if item.type === 'text'
          .edit-colleague__block(class=mod + item.mod)
            label.input-wrapper(for=item.id)=item.headline
            input(placeholder=item.placeholder, id=item.id, name=item.id, type=item.type)

        if item.type === 'select'
          .edit-colleague__block(class=mod + item.mod)
            p=item.headline
            select(id=item.id, class="input-dropdown")
              each option in item.options
                option(value=option, class="input-dropdown__option")=option

        if item.type === 'textarea'
          .edit-colleague__block(class=mod + item.mod)
            label.input-wrapper(for=item.id)=item.headline
            textarea(placeholder=item.placeholder, id=item.id, name=item.id, type=item.type)

      .edit-colleague__buttons
        each button in data.buttonList
          button.button(class=button.mod type=button.type)=button.text
