mixin modalEditProfile(data)
  - var mod = 'edit-colleague__block--'

  .edit-colleague
    +renderHeadline2(data.title)
    .edit-colleague__form
      form(action="#" method="POST")
        each item in data.formList
          if item.type === 'name'
            .edit-colleague__block(class=mod + item.mod)
              span=item.headline
              span.edit-colleague__name=item.text

          if item.type === 'text'
            +renderInputText(item.id, item.placeholder, item.type, item.mod)

          if item.type === 'select'
            +renderSelect(item.headline, item.id, item.options, item.mod)

          if item.type === 'textarea'
            .edit-colleague__block(class=mod + item.mod)
              label.input-wrapper(for=item.id)=item.headline
              textarea(placeholder=item.placeholder, id=item.id, name=item.id, type=item.type)

        .edit-colleague__buttons
          each button in data.buttonList
            button.button(class=button.mod type=button.type)=button.text



