mixin renderAlphabetFilter(alphabetFilter)
  .filters__alphabet-filter
    +renderHeadlineMiddle(alphabetFilter.title)
    ul.filters__alphabet-list
      each filter in alphabetFilter.filterList
        li.filters__alphabet-item
          a(href="#", class="filters__alphabet-link")=filter

mixin renderDropdownFilter(dropdownFilters, i)
  each filter, i in dropdownFilters
    .filters__dropdown-filter(class=filter.className)
      +renderHeadlineMiddle(filter.title)
      select(id='hotel-select-' + [i], class="input-dropdown", multiple)
        each item in filter.filterList
          option(value=item, class="input-dropdown__option")=item

mixin renderFilterButton(buttonFilter)
  .filters__block.filters__block--button-wrapper
    button.btn.btn--white.filters__button(type=buttonFilter.type)=buttonFilter.text

mixin renderMobileFilterButtons(buttonFilters, buttonReset)
  .filters
    .filters__mobile-block
      button(type="button" data-modal="mobile-filters")=buttonFilters
        +icon("icon-filters", 16, 16)
      button(type="reset")=buttonReset

mixin renderMobileDropdownFilter(dropdownMobileFilter)
  .filters__dropdown-filter.filters__dropdown-filter--mobile
    +renderHeadlineMiddle(dropdownMobileFilter.title)
    select(id="hotel-select", class="input-dropdown", multiple)
      each item in dropdownMobileFilter.filterList
        option(value=item, class="input-dropdown__option")=item

