mixin renderHotelCard(title, photoList, logo, link)
  - var mod = ["hotel-card__photo--big", "hotel-card__photo--small"]
  li.hotel-card
    a(href=link).hotel-card__link
      ul.hotel-card__photos
        each photo, index in photoList
          img(src=photo, class=mod[index % 2])
      div.hotel-card__info
        img(src=logo)
        h2.hotel-card__title=title
