mixin renderAccountAdmin(title, src, name, lastName, position, text)
  +renderHeadline3(title)
  .account__admin-wrapper
    a(class="account__contact-button" href="#" data-modal="edit-colleague")
      +icon("icon-write", 18, 24)
    img(src=src, width="103", height="103", alt="Фото админа")
    .account__admin-info
      span.account__admin-name=name
      span.account__admin-name=lastName
      span.account__admin-position=position
  span.account__admin-text=text
