mixin renderEditElements(editingBlockList, buttons, editingBlockStatus)
  .edit(class='edit--' + editingBlockStatus)
    .edit__wrapper
      each block, i in editingBlockList
        if block.type === "text"
          h3(class="title title--h3 title--big") !{block.title}
        else
          h3(class="title title--h3 title--small") !{block.title}

        if block.type === "text"
          if editingBlockStatus === "active"
            textarea.edit__text-block(placeholder="Enter text...") !{block.content}
          else
            .edit__text-block
              +renderTextContentBlock(block.content)

        if block.type === "input"
          label.edit__label
            input.edit__input(type="text", placeholder=block.content)
        if block.type === "info-input"
          .edit__info-block
            span=block.content
        if block.type === "select"
          .edit__select-wrapper(class=block.selectMod)
            select(id='hotel-editor-select-' + i, class="input-dropdown")
              each text in block.content
                option(value=text, class="input-dropdown__option")=text

    - var buttonModClass = "edit__buttons--right"
    if buttons.leftBorder
      -var buttonModClass = "edit__buttons--left"

    .edit__buttons(class=buttonModClass)
      each button in buttons.buttonList
        button(class=button.theme + " button ", type=button.type)=button.text

mixin renderEditBlock(editingBlockList, buttons, editingBlockStatus)
  if editingBlockStatus === "active"
    form
      +renderEditElements(editingBlockList, buttons, editingBlockStatus)
  else
    +renderEditElements(editingBlockList, buttons, editingBlockStatus)
