- var modClass = 'form-reg__block'
if mod
  - var modClass = 'form-reg__block--' + mod

mixin renderInputSearch()
  .form-reg.form-reg--search
    .form-reg__block
      label
        input(type="text")
        +icon("icon-search", 14, 15)

mixin renderInputText(id, placeholder, type, mod)
  .form-reg
    .form-reg__block
      label
        input(type=type placeholder=placeholder)

mixin renderSelect(headline, id, options, mod)
  .form-reg.form-reg--select
    .form-reg__block(class=modClass)
      p=headline
        select(id=id, class="input-dropdown")
          each option in options
            option(value=option, class="input-dropdown__option")=option
