mixin photo-block(photoList)
  ul.gallery__block-list
    each item in photoList
      li.gallery__block-item.js-gallery
        .gallery__title-wrap
          h3.title.title--h3 #{item.title} #[span #{item.titleOnlyDesktop}]
        .swiper-container.photo-gallery
          ul.gallery__sublist.swiper-wrapper
            each image in item.images
              if image.isLong
                if image.isWide
                  li.gallery__sublist-item.gallery__sublist-item--wide.gallery__sublist-item--long.swiper-slide
                    a.gallery__link(href="#" data-modal="gallery" data-id=`${image.id}`)
                      .gallery__image-wrapper
                        picture
                          +webp("content", `${image.srcThumbnail}`)
                          +img("content", `${image.srcThumbnail}`, "png", 460, 222, "Фотография с мероприятия")
                else
                  li.gallery__sublist-item.gallery__sublist-item--long.swiper-slide
                        a.gallery__link(href="#" data-modal="gallery" data-id=`${image.id}`)
                          .gallery__image-wrapper
                            picture
                              +webp("content", `${image.srcThumbnail}`)
                              +img("content", `${image.srcThumbnail}`, "png", 222, 222, "Фотография с мероприятия")
              else
                if image.text
                  li.gallery__sublist-item.swiper-slide
                    a.gallery__link(href="#" data-modal="gallery-multiple" data-id=`${image.id}`)
                      .gallery__image-wrapper.gallery__image-wrapper--add-link
                        picture
                          +webp("content", `${image.srcThumbnail}`)
                          +img("content", `${image.srcThumbnail}`, "png", 222, 154, "Фотография с мероприятия")
                        .gallery__desc
                          +icon("icon-fb", 11, 22)
                          span #{image.text}
                else
                  li.gallery__sublist-item.swiper-slide
                    a.gallery__link(href="#" data-modal="gallery" data-id=`${image.id}`)
                      .gallery__image-wrapper
                        picture
                          +webp("content", `${image.srcThumbnail}`)
                          +img("content", `${image.srcThumbnail}`, "png", 222, 154, "Фотография с мероприятия")
          button(type="button").photo-gallery__button-next
            +icon("icon-arrow_right_white", 19, 30)
          button(type="button").photo-gallery__button-prev
            +icon("icon-arrow_right_white", 19, 30)
          .pagination.swiper-pagination.photo-gallery__pagination.visible-sm
        +modal("modal--gallery")
          +modal-gallery(item.images)

