mixin renderEditComponent(photo, visibility)
  if visibility
    - var visibilityClass = 'photo-edit--visible'
  .photo-edit(class=visibilityClass)
    .photo-edit__buttons
      label
        input(type="file")
        +icon("icon-file-photo", 50, 50)
      button(type="button")
        +icon("icon-del-photo", 50, 50)
    .photo-edit__text
      if photo.text
        span=photo.text
      span=photo.min
      span=photo.max

mixin renderEditPhotos(photoList, cover)
  .top-block.top-block--edit
    img(src=cover.src, srcset=cover.srcset, alt="Фото отеля")
    +renderEditComponent(cover)

  .photos.photos--edit
    .photos__wrapper
      .photos__block.photos__block--first
        picture
          +webp("content", `${photoList[0].src}`)
          +img("content", `${photoList[0].src}`, "jpg", 222, 154, "Фото отеля")
        +renderEditComponent(photoList[0])

      .photos__block.photos__block--second
        .photos__block__wrapper
          each photo in photoList.slice(1, 4)
            .photos__item(class='photos__item--' + photo.mod)
              picture
                +webp("content", `${photo.src}`)
                +img("content", `${photo.src}`, "jpg", 222, 154, "Фото отеля")
              +renderEditComponent(photo)
        .photos__block__wrapper
          each photo in photoList.slice(4, 7)
            .photos__item(class='photos__item--' + photo.mod)
              picture
                +webp("content", `${photo.src}`)
                +img("content", `${photo.src}`, "jpg", 222, 154, "Фото отеля")
              +renderEditComponent(photo)

    .photos__block.photos__block--last
      each photo in photoList.slice(7)
        .photos__item
          picture
            +webp("content", `${photo.src}`)
            +img("content", `${photo.src}`, "jpg", 222, 154, "Фото отеля")
          +renderEditComponent(photo)

      .photos__item.photos__item--upload
        label
          input(type="file")
          +icon("icon-file-photo", 50, 50)

mixin renderPhotos(photoList, mod)
  .photos(class=mod)
    .photos__wrapper
      .photos__block.photos__block--first
        a.photos__gallery-link(href="#" data-modal="gallery" id=photoList[0].id)
          picture
            +webp("content", `${photoList[0].src}`)
            +img("content", `${photoList[0].src}`, "jpg", 222, 154, "Фото отеля")

      .photos__block.photos__block--second
        .photos__block__wrapper
          each photo in photoList.slice(1, 4)
            .photos__item(class='photos__item--' + photo.mod)
              a.photos__gallery-link(href="#" data-modal="gallery" id=photo.id)
                +webp("content", `${photo.src}`)
                +img("content", `${photo.src}`, "jpg", 222, 154, "Фото отеля")
        .photos__block__wrapper
          each photo in photoList.slice(4, 6)
            .photos__item(class='photos__item--' + photo.mod)
              a.photos__gallery-link(href="#" data-modal="gallery" id=photo.id)
                +webp("content", `${photo.src}`)
                +img("content", `${photo.src}`, "jpg", 222, 154, "Фото отеля")

          if photoList[6]
            .photos__item(class='photos__item--' + photoList[6].mod)
              a.photos__gallery-link(href="#" data-modal="gallery" id=photoList[6].id)
                +webp("content", `${photoList[6].src}`)
                +img("content", `${photoList[6].src}`, "jpg", 222, 154, "Фото отеля")
              .photos__link-more-wrapper
                a(href="#" data-modal="gallery")='+' + (photoList.length - 7)
