mixin renderSupportContacts(contactsList)
  .support-contacts
    h3.title--h3=contactsList.title
    ul.support-contacts__list
      each contact in contactsList.contacts
        li.support-contacts__item
          img(src=contact.src)
          .support-contacts__info
            span=contact.name
            span=contact.position
            a(class="support-contacts__link", href='mailto:' + contact.email)
              +icon("icon-support-email", 42, 18)
            a(class="support-contacts__link", href='tel:' + contact.phone)=contact.phoneText
