mixin renderHeadline2(title)
  h2.title.title--h2=title

mixin renderHeadline3(subtitle)
  h3.title.title--h3=subtitle

mixin renderTextContentBlock(textList)
  each text in textList
    p=text

mixin renderAboutText(textList)
  time(datetime=textList.date)=textList.date
  span=textList.venue
  p=textList.text

